* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    background-color: #f8f8f8;
    color: #696969;
}

body {
    line-height: 1.4rem;
}

h2 {
    margin: 1rem 0 0;
    text-transform: uppercase;
    font-size: medium;
}

h3 {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #696969;
}

a:hover {
    text-decoration: underline;
}

span {
    font-weight: bold;
}

.footer-nav { 
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-top: 1px solid #696969;
    margin: 0 1rem;
    margin-top: auto;
    padding: 1rem 0 .5rem;
}

.wrapper,
.main-nav,
.portfolio-project,
nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav li{
    background-color: white;
    padding: 1rem 1rem;
    margin: .3rem .5rem;
    list-style: none;
}

.wrapper {
    background-color: white;
}

.contact,
.skills {
    text-align: center;
}

.skills li {
    padding: 1rem 1rem;
    margin: 1rem 0;
    background-color: white;
    
}
.portfolio-project {
    padding: 1rem 1rem;
}

.profile-pic {
    padding: 3rem 3rem 1rem 3rem;
}

.contact h2, 
.contact p {
    padding: .5rem .5rem;
}

.contact {
    margin-bottom: 3rem;
}

.bio {
    padding: 1rem 1rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}