* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    background-color: #f8f8f8;
    color: #696969;
}

body {
    line-height: 1.4rem;
}

h1 {
    padding: 1.5rem;
    color: #d95763;
}

h2 {
    text-transform: uppercase;
    font-size: medium;
}

h3 {
    margin: 1rem 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #d95763;
}

a:hover {
    text-decoration: underline;
}

span {
    font-weight: bold;
}

header,
main {
    text-align: center;
}

main h2 {
    padding-top: 1rem;
}

footer {
    border-top: 1px solid #696969;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 1rem;
    margin-top: auto;
    padding: 1rem 1rem;
}

.footer-nav {
    list-style: none;
}

nav li{
    background-color: white;
    padding: 1rem 1rem;
    margin: .3rem .5rem;
    list-style: none;
}

.wrapper {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
}

.port {
    margin: 10px;
    min-height: 250px;
    color: #696969;
    text-align: center;
    padding-top: 5px;
}

h2,
h3 {
   color: #d95763;
}

.contact,
.skills {
    text-align: center;
}

.skills li {
    padding: 1rem 1rem;
    margin: .5rem 0 0;
    background-color: white;
    list-style: none; 
}

.portfolio-project {
    padding: 1rem 1rem;
}

.contact {
    margin-bottom: 3rem;
}


.contact p {
    padding: .5rem .5rem;
}

.hidden {
    display: none;
}

.intro {
    padding: 2%;
}

.profile-pic {
    padding: 2rem 2rem .5rem;
}

.background {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.bio {
    padding: 1rem;
}


/* MEDIA QUERIES */
@media (min-width: 768px) {

    header {
        padding: 2rem 2rem;
    }

    .back-top {
        display: none;
    }

    .hidden {
        display: inline-block;
        margin-left: 2rem;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;

    }

    .port {
        flex-basis: calc(50% - 20px);
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        text-align: left;
    }

    .profile-pic {
        width: 35%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        padding: 0;
        background-color: transparent;
    }

    .bio {
        padding: 0 4rem 0 0;
        font-size: 1.1rem;
    }

    .container {
        padding: 0 25%;
    }

    .profile-pic {
        padding: 0;
    }

}

@media (min-width: 1024px) {

    .main-nav {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .port {
        flex-basis: calc(33.33% - 20px);
    }

    .background {
        max-width: 96%;
        margin: 0 auto;
        box-shadow: 0px 4px 5px 1px rgb(0,0,0,.1)
    }

}